.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.Confirm {
  margin: 0px 0px 20px 1px;
  width: 29rem;
  padding-left: 50px;
}

.para {
  color: grey;
  font-size: x-small;
}

.h2 {
  margin-bottom: 5px;
}

.h3 {
  font-size: medium;
  color: darkblue;
  margin-bottom: 25px;
}

.Meal {
  margin-right: 100px;
}

/* .button {
  padding: 5px;
  width: 22rem;
  background-color: brown;
  color: white;
  border-radius: 8px;
  border-color: brown;
} */
