.card {
  /* width: 350px; */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 2px 10px #ccc;
}

.header {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.header > img {
  width: 250px;

  margin-right: 10px;
  margin-left: 70px;
}

.card_header {
  text-align: center;
  margin-bottom: 20px;
}

.card_header .log {
  margin: 0;
  font-size: 14x;
  font-weight: bolder;
  color: black;
}

.form_group {
  margin-bottom: 15px;
}

label {
  font-size: 18px;
  margin-bottom: 5px;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.5s;
}

input[type='submit'] {
  width: 100%;
  background-color: #772917;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #ccc;
  color: black;
}
