.p-setting {
  position: absolute;
  left: 355px;
  top: 128px;
  font-family: 'Inter';
  line-height: 140%;
  letter-spacing: 0.25px;
  color: #101828;
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 32px;
  gap: 16px;
  text-align: left;

  position: absolute;
  width: 687px;
  height: 464px;
  left: 510px;
  top: 239px;
  /* background: #ffffff; */
}

.border {
  margin-top: 30px;
  position: absolute;
  width: 979px;
  height: 2px;
  left: 355px;
  top: 181px;

  /* Gray/200 */

  background: #eeeeee;
}

/* .password-form {
} */

.passinput {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 16px;
  gap: 550px;
  position: relative;

  width: 623px;
  height: 44px;

  /* White */

  background: #ffffff;
  /* Grey 400 */

  border: 1px solid #98a2b3;
  border-radius: 6px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.lblinput {
  width: 122px;
  height: 20px;

  /* Button Semi Bold - 14 */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #012a4a;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.p-paragraph {
  color: #98a2b3;
}

.btnupdate {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 623px;
  height: 44px;
  color: #ffffff;

  /* Orange 800 */

  background: #932f19;
  border-radius: 6px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.passIcon {
  display: flex;
}
.icon {
  position: absolute;
  /* margin-left: 500px; */
  top: 350px;
  right: 108px;
}
.icon1 {
  position: absolute;
  top: 254px;
  right: 108px;
}
.icon2 {
  position: absolute;
  top: 152px;
  right: 108px;
}

/* @media (max-width: 687px) {

  .overall{
    width: 100%;
    height: auto;
  }
  .password-container {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    padding: 16px;
  }

} */
