.login {
  width: 100%;
  height: 1042px;
  background: #f2f4f7;
  position: relative;
}

.login__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 38px;
  
}

.login__image {
  width: 193px;
  height: 45px;
  margin-top: 53.5px;
  margin-left: 13.5px;
}

.login__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 85vh;
  width: 479px;
  background: #ffffff;
  border-radius: 24px;
  margin-left: 440px;
  margin-top: 48px;
  box-shadow: 12px 4px 16px rgba(0, 0, 0, 0.08);
}

.login__formwelcome {
  width: 309px;
  height: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #012a4a;
  margin-bottom: 150px;
  margin-top: 80px;
}

.login__details {
  margin-bottom: 100px;
  width: 309px;
  height: 134px;
  padding-right: 400px;
  margin-top: -7rem;
}

.login__details h5 {
  width: 37px;
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #012a4a;
  top: 90px;
}

.login__emailbox {
  display: flex;
  align-items: center;
  border: 1px solid #98a2b3;
  border-radius: 6px;
  width: 410px;
  height: 50px;
  box-sizing: border-box;
  flex-direction: row;
  gap: 8px;
  margin-top: 7px;
}

.login__email {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  border: none;
  margin-right: 90px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.login__icon {
  display: flex;
  align-items: center;
  margin-left: 13px;
}

.login__passwordbox {
  display: flex;
  align-items: center;
  border: 1px solid #98a2b3;
  border-radius: 6px;
  width: 410px;
  height: 50px;
  box-sizing: border-box;
  flex-direction: row;
  gap: 8px;
  margin-top: 7px;
}

.login__password {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #ffffff;
  border: none;
  margin-right: 90px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.login__passworddetails {
  margin-top: 28px;
}

.login__forgot {
  margin-top: 15px;
  display: flex;
  width: 299px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1570ef;
}

.login__button {
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  width: 383px;
  height: 44px;
  background: #772917;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.login__account {
  margin: 26px;
}

.login__create {
  color: #772917;
  margin-left: 2px;
}
