.reset_pawd_card_modal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f4f7;
  text-align: center;
  margin: 0;
  padding: 0;
}
.reset_center_form_modal {
  color: #012a4a;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
}

.reset_pawd_label_modal {
  color: #012a4a;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
}

.reset_pawd_form_modal {
  border-radius: 24px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
  align-items: center;
  background-color: white;
  z-index: 2;
  margin-top: 40px;
}
.reset_pawd_action_modal {
  background: #772917;
  border-radius: 6px;
  border: none;
  width: 300px;
  height: 28px;
  color: white;
  font-size: 14px;
}
.fieldsContainer_modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reset_pawd_button_modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.react-responsive-modal-closeButton {
  display: none;
}
